.fillet {
    /* 圆角样式s适用于大型的矩形 */
    border-radius: 2px;
    box-sizing: border-box;
}

.circle {
    /* 完全的圆形样式 */
    border-radius: 50%;
    box-sizing: border-box;
}

.testBackGroundColor {
    /* 浅灰色，用于布局时候做背景颜色 */
    background: #e7e7e7;
}